.scroll-down{
  position: absolute;
  top: 75vh;
  left: 50vw;

  transform: translate(-50%, -50%);
}

.scroll-down h5{
  font-weight: normal;
  margin: 5px;
}

.scroll-down .arrow{
  width: 10px;
  height: 10px;

  border-bottom: 3px solid #da5552;
  border-right: 3px solid #da5552;

  /* border-radius: 5px; */

  transform: rotate(45deg);

  animation: arrow-animation 2s infinite;
}

@keyframes arrow-animation{
  0%{
    transform: rotate(45deg) translate(0);
  }
  10%{
    transform: rotate(45deg) translate(4px, 4px);
  }
  20%{
    transform: rotate(45deg) translate(0);
  }
  30%{
    transform: rotate(45deg) translate(4px, 4px);
  }
  40%{
    transform: rotate(45deg) translate(0);
  }
  100%{
    transform: rotate(45deg) translate(0);
  }
}