/* * {
  padding: 0;
  margin: 0;
} */

@font-face {
  font-family: title;
  src: url("../fonts/Archia_Regular/Archia Regular Desktop/Archia-Regular.otf");
}

body {
  background-color: rgb(15, 15, 15);
  color: white;

  font-family: title;
  padding: 0;
  margin: 0;

  overflow: hidden;

  scroll-behavior: smooth;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGE HEADER */
.page-header {
  position: fixed;
  justify-content: space-between;
  left: 50vw;

  transform: translate(-50%, -50%);

  transition: top 0.5s;

  z-index: 100;
}

.page-header-background {
  background-color: rgb(15, 15, 15);
  width: 100vw;
  height: 120px;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 99;
}

.page-title {
  font-family: title;
  font-size: 60px;
  font-weight: 100;
}
.page-title-dot {
  color: #da5552;

  animation: page-title-dot-animation 0.1s forwards;
  animation-delay: 1.4s;
  font-size: 0;
}

@keyframes page-title-dot-animation {
  from {
    font-size: 0;
  }
  to {
    font-size: 60px;
  }
}

.drone-box {
  position: absolute;
  top: -15%;
  background: linear-gradient(
    90deg,
    rgb(15, 15, 15) 92%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 110%;

  display: flex;
  justify-content: flex-end;

  z-index: 9999;

  transition: transform 1.2s ease-in-out;
}

.drone-img {
  width: 90px;

  animation: drone-animation 1.8s forwards;
}

@keyframes drone-animation {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(0);
  }
}
/* PAGE HEADER */

/* MAIN NAV */
.main-nav {
  position: fixed;
  top: 0;
  right: 0;

  transform: translateX(100%);

  height: 100vh;
  width: 250px;

  transition: 0.5s;
  transition-delay: 0.1s;

  background-color: #504746;
  background-color: rgb(30, 30, 30);

  align-items: flex-end;

  padding-left: 100px;

  z-index: 499;
}
.main-nav.opened {
  transform: translateX(0);
  transition-delay: 0s;
}

.nav-opener {
  width: 30px;
  height: 20px;
  /* background-color: blue; */

  position: fixed;
  top: 5vh;
  right: 4vw;

  z-index: 500;

  cursor: pointer;
}
.nav-opener::before,
.nav-opener::after {
  position: absolute;
  top: 50%;

  width: 30px;
  height: 2px;
  background-color: #da5552;
}

.nav-opener::before {
  content: "";
  transform: translate(-3px, -8px);
  background-color: transparent;

  height: 0;

  border-top: 2px solid #da5552;
  border-left: 2px solid #da5552;

  transition: 0.5s;
}
.nav-opener.opened::before {
  height: 15px;
  width: 15px;

  transform: rotate(135deg) translate(-12px, -3px);
}

.nav-opener::after {
  content: "";
  transform: translateY(1px);
}

.nav-element {
  margin-top: 15px;
  font-family: title;
  font-size: 25px;
  cursor: pointer;
  position: relative;

  margin-right: -300px;

  transition: 0.3s;
}
.nav-element:hover {
  color: #da5552;
}
.nav-element.opened {
  margin-right: 40px;
}

.author-info {
  position: absolute;
  bottom: 20px;
  left: 0;

  text-align: right;
  padding-right: 40px;
  box-sizing: border-box;

  width: 100%;

  cursor: pointer;
}

.author-info:hover > .additional-info {
  opacity: 1;
}
.additional-info {
  opacity: 0;
  transition: 0.5s;
}
/* MAIN NAV */

.background-video {
  min-width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -500;
}
.video-courtine {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -499;

  background-color: rgb(15, 15, 15);
}

.section {
  max-width: 1600px;
  width: 75vw;
  height: 80vh;
  margin: auto;

  margin-top: 10vh;
  margin-bottom: 10vh;

  background-color: rgb(15, 15, 15);

  position: relative;
  padding-top: 100px;
}
.aboutus-section {
  margin-top: 100vh;
}

.section-title {
  color: #da5552;
  font-size: 80px;
  font-weight: 700;
}
.section-subtitle {
  font-size: 26px;
}

.section-content {
  width: 60%;
  font-size: 18px;

  margin-left: 50px;
  margin-top: 50px;
}

.aboutus-section-title {
  margin-top: -120px;
}

.offer-section-title {
  margin-left: 40%;
}
.offer-section-content {
  font-size: 20px;
  margin-top: -5%;
}

.highlighted {
  color: #da5552;
}

p {
  /* margin: 15px; */
}

.link {
  color: #da5552;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: #da5552;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
